
body,html{
	width: 100%;
	height: 100%;
}


.root{
	display: flex;
	flex-direction: column; 
	height: 100%;
	align-content: space-between;
}
.firstcolumn{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50%;
}
.box1{
	background: linear-gradient(#03CEA4, #345995);
	height: 55%;
	width: 25%;
}
.box2{
	background: linear-gradient(-90deg,#03CEA4, #345995);
	height: 55%;
	width: 25%;
}
.box3{
	background: linear-gradient(to bottom left,#03CEA4, #345995);
	height: 55%;
	width: 25%;
}
.secoundcolumn{
		display: flex;
	   justify-content: space-around;
	   align-items: center;
	   height: 50%;
}
.box4{
   height: 55%;
	width: 25%;
	display: flex;
}
.box5{
    height: 55%;
	width: 25%;
	border:1px dashed #707070;

}
.box6{
	height: 55%;
	width: 25%;
	border:1px  dotted #707070;
}
.smallbox1{
border-radius: 50%;
background-color:#C94141;
height: 250px;
width: 250px;
}
.smallbox2{
border-radius: 50%;
background-color:#000000bd;
height: 250px;
width: 250px;
margin-left: -50px;
}